<h5>Contact Crisis Center</h5>
<form>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" placeholder="Enter message"></textarea>
    <small 
      *ngIf="sending" 
      id="message-sending" 
      class="form-text text-muted">Sending message...</small>
  </div>
  <button type="button" class="btn btn-primary" (click)="onSend()" >Send</button>
  <button type="button" class="btn btn-light" (click)="onClose()" >Cancel</button>
</form>