<div class="row">
    <div class="col-4">
        <h3 class="text-uppercase">Crises</h3>
        <div class="list-group">
            <a 
                [routerLink]="['/crisis-center', crisis.id]"
                routerLinkActive="active"
                class="list-group-item list-group-item-action"
                *ngFor="let crisis of crises$ | async ">
                <span class="badge badge-primary badge-pill">{{ crisis.id }}</span> {{ crisis.name }}
            </a>
        </div>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>