<div class="row">
    <div class="col-4">
        <h2 class="text-uppercase">Heroes</h2>
        <div class="list-group">
            <a 
                [routerLink]="['/heroes', hero.id]"
                routerLinkActive="active"
                class="list-group-item list-group-item-action"
                *ngFor="let hero of heroes$ | async ">
                <span class="badge badge-primary badge-pill">{{hero.id}}</span> {{hero.name}}
            </a>
        </div>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>